.card {
    cursor: pointer;
}
.cardImage {
    width: 150px;
    height: 100px;
    border-radius: 10px;
}
.imageSelected {
    border: 2px solid var(--brand-color);
    padding: 2px
}
.cardName {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cardSize {
    color: grey;
    word-wrap: break-word;
    font-size: 12px;
}