.tabContainer {
    border-bottom: 2px solid var(--very-light-grey);
}

.tab {
    border: none;
    background: none;
    background-color: white;
    cursor: pointer;
    margin-right: 20px;
    padding: 20px 0;
}

.tabActive {
    border-bottom: 1px solid var(--brand-color);
    color: var(--brand-color);
}